.fa-eye{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    color: #1f1f1f;
}

@keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
  }

.msgWrapper{
    position: relative;
    opacity: 1;
    height: 40px;
}

#msgError{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: treme 0.2s;
    animation-iteration-count: 3;
    width: 360px;
    text-align: center;
/*     font-weight: bold; */
    line-height: 2;
    font-size: 120%;
    height: 40px;
    background-color: #ffb3b3;
    border-radius: 5px;
    font-weight: 600;
    display: block;
    opacity: 0;
    margin: .5rem auto -0.5rem auto;
    transition: all .3s ease-in-out;
}

#msgSucess{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: treme 0.2s;
    animation-iteration-count: 3;
    width: max-content;
    padding: 0 10px;
    text-align: center;
/*     font-weight: bold; */
    line-height: 2;
    font-size: 120%;
    height: 40px;
    background-color: #c0ffb3;
    border-radius: 5px;
    display: block;
    opacity: 0;
    margin: .5rem auto -0.5rem auto;
    transition: all .3s ease-in-out;
}
