*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    width: 100vw;
    /* outline-color: rgba(255, 0, 0, 0.3);
    outline-style: solid;
    outline-offset: .25rem;
    outline-width: 3px; */
    filter: drop-shadow(0 0 20px rgba(255, 0, 0, 0.50));
}

/* SHAPE DIVIDER TOP */

.custom-shape-divider-top-1690413573 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1690413573 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 300px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1690413573 .shape-fill {
    fill: #5f5f5f15;
}

/* SHAPE DIVIDER BOTTOM */

.custom-shape-divider-bottom-1690413374 {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690413374 svg {
    position: relative;
    display: block;
    width: calc(270% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1690413374 .shape-fill {
    fill: #5f5f5f15;
}